#para{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 3px;
    color:rgb(6, 6, 56);

}
#h{
    font-size: 70px;
}
#ho{
    padding-top: 170px;
    margin-left: 100px;
} 